main {
    
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    
    
}

@keyframes fadeIn {
    
    to {
        opacity: 1;
    }

    
    
}
.header {
    display: flex;
    width: 100%;
     
}
.fotoProfilo {
    width: 230px;
    height: 270px;
    margin-right: 10px;
    
}
h1,h4 {
     
    margin: 0;
}
h1 {
    font-size: 45px;
}

.textContainer {
    display: flex;
    flex-direction: column;
     
}
.intestazione {
     
    margin-left: auto;
}
.description {
    color: rgb(134, 134, 134);
     
}
.link {
    display: flex;
    flex-direction: row;
     
    width: 100%;
}

linkedin {
    color: #0e76a8;
    text-transform: capitalize;
    margin-right: 5px;
}
#linkedin {
    display: flex;
}

portfolio {
    color: orange;
    margin-right: 5px;
}
#portfolio {
    display: flex;
}
.container {
    display: flex;
    
     
}
.left , .right {
    flex: 1;
    
   
}
.left { 
    width: 49%;
    height: auto;
    margin-right: 5px;
    margin-left: 20px;
    color: rgb(134, 134, 134);
    display: flex;
    flex-direction: column;
}
.right { 
    width: 49%;
    height: auto;
    color: rgb(134, 134, 134);
    display: flex;
    flex-direction: column;
    margin-left: 50px;
     
}
.vertical-line {
    width: 1px; /* Larghezza della linea */
    height: 100vmax; /* Altezza della linea, che copre l'intera altezza della finestra */
    background-color: rgb(134, 134, 134); /* Colore della linea */
    
}
.title {
    color: black;
}

.cisco {
    display: flex;
    flex-direction: row;
    
    padding: 5px;
}
.appStore {
    display: flex;
    

}
.appIcon {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}
#appIcon {
    transition: transform 0.3s ease;
}
#appIcon:hover {
    transform: scale(1.1); /* Ingrandisce l'immagine del 10% */
    
}
#appIcon:active {
    transform: scale(0.9); /* Rimpicciolisce l'immagine leggermente */
}

h6 {
    margin-top: 3px;
}
